/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.09.2018, 19:09:53
    Author     : Аверьянова Ольга
*/
.category{
    background-color: ghostwhite;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.category:hover{
    -webkit-box-shadow: 3px 4px 10px -1px rgba(220,220,220,1);
    -moz-box-shadow: 3px 4px 10px -1px rgba(220,220,220,1);
    box-shadow: 3px 4px 10px -1px rgba(220,220,220,1);
}

.txtstyle{
    color: white;
    line-height: 1;
    min-height: 35px;
    height: 35px;
}

.itempos{
    float: right;
}

.sim{
    margin-bottom: 30px;
    margin-top: 30px;
}

.fintext{
    text-align: center;
    color: white;
}

.txtstyle2{
    color: white;
    padding-top: 40px;
    padding-bottom: 15px;
}

.txtstyle3{
    padding-top: 30px;
    padding-bottom: 30px;
}

fcol{
    color: #888;
}
