/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.09.2018, 19:09:53
    Author     : Аверьянова Ольга
*/
.category{
    background-color: ghostwhite;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    color: #343a40;
    border-radius: 0.4rem !important;
    max-height: 110px !important;
    height: 110px !important;
}

.category:hover{
    -webkit-box-shadow: 3px 4px 10px -1px rgba(220,220,220,1);
    -moz-box-shadow: 3px 4px 10px -1px rgba(220,220,220,1);
    box-shadow: 3px 4px 10px -1px rgba(220,220,220,1);
}

.txtstyle{
    color: white;
    line-height: 1;
    min-height: 35px;
    height: 35px;
}

.itempos{
    float: right !important;
}

.sim{
    margin-bottom: 30px;
    margin-top: 30px;
}

.fintext{
    text-align: center;
    color: white;
}

.txtstyle2{
    color: white;
    padding-top: 40px;
    padding-bottom: 15px;
}

.txtstyle3{
    padding-top: 30px;
    padding-bottom: 30px;
}


.wf{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.wf2{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mb{
    max-width: 160px !important;
    width: 160px !important;
    margin-right: 98px;
    max-height: 38px !important;
    height: 38px !important;
}

.mb2{
    max-width: 460px !important;
    width: 460px !important;
}

.mb3{
    max-width: 180px !important;
    width: 180px !important;
}

.jce{
    text-align: right !important;
}

h5{
    color: #343a40 !important;
}

.fcol{
    color: #5a5a5a !important;
}

.mb4{
    max-width: 160px !important;
    width: 160px !important;
    max-height: 38px !important;
    height: 38px !important;
}

.mb5{
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}

.mlm{
    padding-left: 95px !important;
}

.sale{
    color: white !important;
    max-width: 100px !important;
    width: 100px !important;
    max-height: 30px !important;
    height: 30px !important;
    position: absolute !important;
    z-index: 1 !important;
    font-size: 1.4rem !important;
    text-align: center;
}


h5 span{
    color: #56CC9D !important;
}


.st{
    padding-top: 30px;
    padding-bottom: 40px;  
}

.fs{
    font-size: 0.75rem !important;
}

.cd{
    max-height: 80px !important;
    height: 80px !important;
    line-height: 1.2;
    padding-top: 5px !important;
    padding-left: 10px !important;
    margin-bottom: 60px !important;
}

.cd2{
    margin-top: -10px !important;
}

.carind{
    max-width: 100px !important;
    width: 100px !important;
}

.carind2{
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: -35px !important;
}

.carb{
    margin-top: 25px !important;
}

.carn{
    margin-top: 40px !important;
}

.fcol2{
    color: #343a40 !important;
    font-size: 1.4rem !important;
    font-weight: bold !important;
}

h4 span{
    color: #56CC9D !important;
}

.fcol3{
    color: #343a40 !important;
}

.badge:empty {
  display: inline-block !important;
}

p span{
   color: #56CC9D !important;
   float: right;
}

.fcol4{
    color: #56CC9D !important;
}

.divs{
    padding-top: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 5px !important;
}

.naim{
    position: absolute !important;
    z-index: 1 !important;
}

.an{
     letter-spacing: -1px !important;
}

.ts{
    margin-top: 40px !important;
    margin-left: 20px !important;
}

.ts2{
    margin-top: 25px !important;
}

.ts3{
    margin-bottom: -1px !important;
}

.ts4{
    margin-right: 3px !important;
    margin-top: 3px !important;
}

.ts5{
    margin-top: 91px !important;
    margin-left: 20px !important;
}

.ts6{
    margin-bottom: 6px !important;
}

.mb9{
    max-width: 175px !important;
    width: 175px !important;
    margin-top: 60px !important;
    margin-right: 2px !important;
    margin-bottom: 15px !important;
}

.ts7{
    padding-left: 20px !important;
    padding-top: 14px !important;
}

.fs2{
    color: white;
    margin-bottom: 0 !important;
    padding-bottom: 14px !important;
}

.lt{
    margin-bottom: 20px !important;
}

.m1{
    margin-top: 50px !important;
}

.m2{
    margin-bottom: 50px !important;
}

.fcol5{
    color: #78C2AD !important;
}

.mb10{
    max-width: 590px !important;
    width: 590px !important;
}

.mb11{
    max-width: 290px !important;
    width: 290px !important;
}

.m3{
    margin-right: 10px !important;
}

.mb12{
    max-width: 100px !important;
    width: 100px !important;
}

.m4{
    margin-left: 30px !important;
}

.b1{
    border-top: 1px solid #78C2AD;
}

.m5{
    margin-bottom: 80px !important;
}

.mb13{
    max-width: 235px !important;
    width: 235px !important;
    margin-bottom: -7px !important;
}

.pad1{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.formpos{
    left: -113px !important;
}
.m6{
    margin-left: 433px !important;
}

.mb20{
    max-width: 30px !important;
    width: 30px !important;
    padding: 2px !important;
}

.pad2{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.mar1{
    margin-right: -10px !important;
}

.mar2{
    margin-left: -10px !important;
}

.f1{
    max-width: 90px !important;
    width: 90px !important;
}

.pad3{
    padding-left: 20px !important;
    padding-right: 5px !important;
}

.filters{
    position: absolute !important;
    z-index: 1 !important;
}